@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Vazirmatn:wght@300&display=swap')

.pointer
    cursor: pointer

.light
    font-family: 'Vazirmatn', sans-serif
    text-align: right
    direction: rtl
    color: #262626
    background: white

    nav
        backdrop-filter: blur(10px)
        
        .navbar-brand
            font-family: 'Lalezar', cursive

    .access
        display: flex
        justify-content: space-between

        a
            color: #262626

    .lale
        font-family: 'Lalezar', cursive

    .intro
        .title
            font-family: 'Lalezar', cursive
            font-size: 4rem

    .send-form
        .title
            font-family: 'Lalezar', cursive
            font-size: 3rem

        label
            font-family: 'Lalezar', cursive
            color: #262626

        input, textarea
            color: #262626
            background: transparent

            &::placeholder
                color: #262626

    .messages
        .title
            font-family: 'Lalezar', cursive
            font-size: 4rem

    .line
        color: #262626

.dark
    font-family: 'Vazirmatn', sans-serif
    text-align: right
    direction: rtl
    color: white
    background: #262626

    nav
        backdrop-filter: blur(10px)

        .navbar-brand
            font-family: 'Lalezar', cursive

    .access
        display: flex
        justify-content: space-between

        a
            color: white

    .lale
        font-family: 'Lalezar', cursive

    .intro
        .title
            font-family: 'Lalezar', cursive
            font-size: 4rem

    .send-form
        .title
            font-family: 'Lalezar', cursive
            font-size: 3rem

        label
            font-family: 'Lalezar', cursive
            color: white

        input, textarea
            color: white
            background: transparent

            &::placeholder
                color: white

    .messages
        .title
            font-family: 'Lalezar', cursive
            font-size: 4rem

    .line
        color: white