@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Vazirmatn:wght@300&display=swap");
.pointer {
  cursor: pointer;
}

.light {
  font-family: 'Vazirmatn', sans-serif;
  text-align: right;
  direction: rtl;
  color: #262626;
  background: white;
}

.light nav {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.light nav .navbar-brand {
  font-family: 'Lalezar', cursive;
}

.light .access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.light .access a {
  color: #262626;
}

.light .lale {
  font-family: 'Lalezar', cursive;
}

.light .intro .title {
  font-family: 'Lalezar', cursive;
  font-size: 4rem;
}

.light .send-form .title {
  font-family: 'Lalezar', cursive;
  font-size: 3rem;
}

.light .send-form label {
  font-family: 'Lalezar', cursive;
  color: #262626;
}

.light .send-form input, .light .send-form textarea {
  color: #262626;
  background: transparent;
}

.light .send-form input::-webkit-input-placeholder, .light .send-form textarea::-webkit-input-placeholder {
  color: #262626;
}

.light .send-form input:-ms-input-placeholder, .light .send-form textarea:-ms-input-placeholder {
  color: #262626;
}

.light .send-form input::-ms-input-placeholder, .light .send-form textarea::-ms-input-placeholder {
  color: #262626;
}

.light .send-form input::placeholder, .light .send-form textarea::placeholder {
  color: #262626;
}

.light .messages .title {
  font-family: 'Lalezar', cursive;
  font-size: 4rem;
}

.light .line {
  color: #262626;
}

.dark {
  font-family: 'Vazirmatn', sans-serif;
  text-align: right;
  direction: rtl;
  color: white;
  background: #262626;
}

.dark nav {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.dark nav .navbar-brand {
  font-family: 'Lalezar', cursive;
}

.dark .access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dark .access a {
  color: white;
}

.dark .lale {
  font-family: 'Lalezar', cursive;
}

.dark .intro .title {
  font-family: 'Lalezar', cursive;
  font-size: 4rem;
}

.dark .send-form .title {
  font-family: 'Lalezar', cursive;
  font-size: 3rem;
}

.dark .send-form label {
  font-family: 'Lalezar', cursive;
  color: white;
}

.dark .send-form input, .dark .send-form textarea {
  color: white;
  background: transparent;
}

.dark .send-form input::-webkit-input-placeholder, .dark .send-form textarea::-webkit-input-placeholder {
  color: white;
}

.dark .send-form input:-ms-input-placeholder, .dark .send-form textarea:-ms-input-placeholder {
  color: white;
}

.dark .send-form input::-ms-input-placeholder, .dark .send-form textarea::-ms-input-placeholder {
  color: white;
}

.dark .send-form input::placeholder, .dark .send-form textarea::placeholder {
  color: white;
}

.dark .messages .title {
  font-family: 'Lalezar', cursive;
  font-size: 4rem;
}

.dark .line {
  color: white;
}
/*# sourceMappingURL=style.css.map */